@model IEnumerable<BugTracker.Models.TicketHistory>

@{
    ViewBag.Title = "Index";
}



<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">

                <h2>LIST OF TICKET HISTORIES</h2>

                <p>
                    @Html.ActionLink("Create New", "Create")
                </p>



            </div>
            <div class="body table-responsive">
                <table class="table table-condensed">
                    <thead>
                        <tr class="danger">
                            <th>#</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Ticket.OwnerUserId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.User.FirstName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PropertyName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.OldValue)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NewValue)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Updated)
                            </th>
                            <th>
                                @Html.DisplayName("Manage")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <th scope="row">1</th>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ticket.OwnerUserId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PropertyName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OldValue)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NewValue)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Updated)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>